<hr class="mt-5" />
<div class="main-container">
  <div class="upper-box">
    <div class="about">
      <div class="title">ABOUT</div>
      <div class="about-content">
        At Shopping Corner, our goal is to make shopping easier, faster, and
        more convenient than ever before for our customers.We are committed to provide customers
        in India with a trusted and hassle-free one-stop-shop for all their
        shopping needs across various categories such as Electronics, Grocery,
        Fashion, Home & Kitchen, etc
      </div>
    </div>
    <div class="extra"></div>
    <div class="information">
      <div class="title ms-3">INFORMATION</div>
      <ul class="information-content">
        <li>About US</li>
        <li>Contact US</li>
        <li>Term and Conditions</li>
        <li>Returns and Exchange</li>
        <li>Shipping & Delivery</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="contact">
      <div class="title">CONTACT</div>
      <div class="contact-content">
        <div>Karol Bagh,New Delhi,India</div>
        <div>Pin code-11005</div>
        <div class="mt-3">
          <i class="phone fa-solid fa-phone"></i>+91 6257896841
        </div>
        <div class="icons mt-3">
          <i class="facebook fa-brands fa-facebook"></i>
          <i class="instagram fa-brands fa-instagram"></i>
          <i class="twitter fa-brands fa-twitter"></i>
          <i class="youtube fa-brands fa-youtube"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-box">
    Copyright @2024.All rights reserved Shopping Corner
  </div>
</div>
